@import "config";

body {
//  background-color: $bg-color;
  background-image: url("/images/background/stardust.png");
}

div.wrapper-info {
  width: 80%;
  margin: 0px auto 15px auto;
}

div.wrapper-message {
  margin-bottom: 15px;
}

.well {
  width: 100%;
  margin: 0 auto;

  div.well-header {
    background-color: $p-color;
    padding: 15px;
    color: #FFF;
  }

  div.well-content {
    padding: 20px 15px;
    border: 2px solid $p-color;
    margin-bottom: 15px;
  }
}

// ui.cards
div.ui.cards {
  div.card {
    div.extra.content {
      a.ui.button {
        margin-top: 5px;
      }
    }
  }
}

main.ui.container-fluid {
  margin-top: 60px;
  padding: 0 15px;
}

// Remove radius for UI items
.ui.button, div.card, input, .ui.label, .ui.accordion, .ui.segment, .ui.message, div.menu, textarea, .ui.header {
  border-radius: 0px !important;
}

// Responsive
@media (max-width: 767px) {
  main.ui.container-fluid {
    margin-top: 30px;
  }
}
