<template name="home">
  <div class="home">
    {{#if userConnected}}
      <div class="row">
        <div class="ui grid stackable">
          <div class="nine wide column vote-list">
            {{> vote}}
          </div>
          <div class="seven wide column">
            {{> createVote }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui grid stackable centered">
          <div class="ten wide column">
            {{> createFeedBack}}
          </div>
        </div>
      </div>
    {{ else }}
      <div class="ui message info">
        <div class="header">
          Informations
        </div>
        <p>The database has been emptied, I currently work at reintegrating all data.</p>
      </div>
      {{> loginLinks }}
    {{/if}}
  </div>
</template>
