@import "{}/client/views/_layout/config";

div.create-vote {
  div.create-vote-header {
    text-align: center;
    background-color: $p-color;
    color: #FFF;
    padding: 20px 15px;
  }
  div.create-vote-content {
    padding: 15px;
    border: 2px solid $p-color;
//    background-color: #FFF;

    form#create-vote-form {
      div#create-vote-info {
        margin: 15px 0;
      }

      div.field {
        label {
          color: #FFF;
        }
      }
    }
  }
}
