<template name="createVote">
  <div class="create-vote">
    <h1>Create new vote</h1>
    <form id="create-vote-form" class="ui form">
      <div id="create-vote-info"></div>
      <div class="field">
        <label for="new-vote-name">Name :</label>
        <input type="text" id="new-vote-name" />
      </div>
      <div class="field">
        <label for="new-vote-option">Vote option :</label>
        <div class="ui action input">
          <input type="text" id="new-vote-option" />
          <button id="new-vote-add-option" class="ui icon button">
            <i class="plus icon"></i>
          </button>
        </div>
      </div>
      {{#if voteOptionList}}
        <div id="new-vote-option-list" class="ui horizontal list">
          {{#each voteOptionList }}
            <div class="item">
              <a class="ui label vote">
                {{ name }}
                <i class="delete icon"></i>
              </a>
            </div>
          {{/each}}
        </div>
      {{/if}}
      <div class="field">
        <label for="dateTimePicker">End Date : </label>
        <input type="text" class="ui dropdown datetimepicker" id="new-vote-date-time-picker" />
      </div>
      <button class="ui button green labeled icon right">
        <i class="checkmark icon right"></i>
        Create Vote
      </button>
    </form>
  </div>
</template>
