<template name="vote">
  <div class="vote">
    <h1># Vote</h1>
    <div class="row">
      <div class="ui grid">
        <div class="six wide column">
          <h2>Afficher tous les votes</h2>
          <div class="ui list">
            {{#each votes}}
              <div class="item">
                <div class="content">
                  <div class="header">
                    {{ name }}
                  </div>
                  {{ formatDate endDate }}
                  <div class="vote-options-list">
                    {{#each voteOptionsList _id}}
                      <a data-id="{{ ../_id }}" class="ui label vote-option
                        {{#if ifVoted ../_id name}}blue{{/if}}">
                        {{ name }}
                      </a>
                    {{/each}}
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="five wide column">
          <h2>Créer un vote</h2>
          {{> createVote}}
        </div>
        <div class="five wide column">
         <h2>Chat du vote</h2>
        </div>
      </div>
    </div>
  </div>
</template>
