@import "{}/client/views/_layout/config";

div.vote {
  padding: 0 15px;

  div.row {
    div.column.vote-list {
      h2 {
        text-align: center;
        background-color: $p-color;
        color: #FFF;
        padding: 15px 0;
      }
      div.ui.cards {
        margin-left: auto;
        margin-right: auto;

        div.card {
          margin-left: auto;
          margin-right: auto;
          width: 100%;

          div#vote-options-list-info {
            margin: 15px 0;
          }
        }
      }
    }
  }
}
