<template name="users">
  <div class="users">
    <div class="row">
      <div class="ui grid">
        <div class="eight wide column well">
          <div class="well-header">
            <h1>User List</h1>
          </div>
          <div class="well-content">
            <div id="info-users"></div>
            <div class="ui styled accordion">
              {{#each users}}
                <div class="title">
                  <i class="dropdown icon"></i>
                  {{#if profile.admin }}
                    <i class="bordered icon terminal inverted red"></i>
                  {{/if}}
                  {{ profile.firstName }} {{ profile.lastName }}
                </div>
                <div class="content">
                  <p>
                    <i class="icon tag"></i>
                    Id : {{ _id }}
                  </p>
                  <p>
                    <i class="icon mail"></i>
                    Email : {{ emails.[0].address }}
                  </p>
                  <p>
                    <i class="icon ban"></i>
                    Active :
                    {{#if profile.active }}
                      true
                    {{ else }}
                      false
                    {{/if}}
                  </p>
                  <p>
                    <i class="icon terminal"></i>
                    Admin :
                    {{#if profile.admin }}
                      true
                    {{ else }}
                      false
                    {{/if}}
                  </p>
                  <div class="actions">
                    <a href="/users/{{ _id }}" class="ui button labeled icon blue">
                      <i class="icon eye"></i>
                      See
                    </a>
                    <button data-id="{{ _id }}" class="ui button labeled icon green update-user">
                      <i data-id="{{ _id }}" class="icon settings"></i>
                      Update
                    </button>
                    <button data-id="{{ _id }}" class="ui button labeled icon red remove-user">
                      <i data-id="{{ _id }}" class="icon remove user"></i>
                      Remove
                    </button>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="eight wide column">
          {{#if selectedUser}}
            {{> updateUser}}
          {{else}}

          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
