@import "{}/client/views/_layout/config";

div.users {
  div.row {
    div.ui.grid {
      div#info-users {
        margin: 15px 0;
      }

      div.ui.accordion {
        div.content {
          color: #333;

          .ui.button {
            margin-top: 5px;
          }
        }
      }

      form#update-user {
        label {
          color: #FFF;
        }
        div.ui.checkbox {
          label {
            color: #333;
          }
        }
      }
    }
  }
}
