<template name="newUser">
  <div class="new-user">
    <h1># New User</h1>
    <form id="new-user-form" action="action" class="ui form">
      <div id="new-user-info"></div>
      <div class="field">
        <label for="account-firstname">First Name : </label>
        <input type="text" class="" id="account-firstname" />
      </div>
      <div class="field">
        <label for="account-lastname">Last Name : </label>
        <input type="text" class="" id="account-lastname" />
      </div>
      <div class="field">
        <label for="account-email">Email : </label>
        <input type="email" class="" id="account-email" />
      </div>
      <div class="field">
        <label for="account-password">Password : </label>
        <input type="password" class="" id="account-password" />
      </div>
      <div class="field">
        <label for="confirm-password">Confirm you're password : </label>
        <input type="password" class="" id="confirm-password" />
      </div>
      <div class="action">
        <button type="submit" class="ui right labeled green icon button">
          <i class="plus icon right"></i>
          Create
        </button>
      </div>
    </form>
  </div>
</template>
