@import "{}/client/views/_layout/config";

div.new-user {

  form#new-user-form {
    div.field {
      label {
        color: #FFF;
      }
    }
    div.checkbox {
      label {
        color: #555;
      }
    }
    div#new-user-info {
      margin: 15px 0;
    }
  }
}
