<template name="login">
  <div class="login">
    <h2 class="center-align">Sign In</h2>
    <form id="login-form" action="action" class="ui form">
      <div id="login-info"></div>
      <div class="field">
        <label for="login-email">Email : </label>
        <input type="email" class="" id="login-email" />
      </div>
      <div class="field">
        <label for="login-password">Mot de passe : </label>
        <input type="password" class="" id="login-password" />
      </div>
      <div class="action">
        <button type="submit" class="ui green labeled right icon button">
          <i class="checkmark icon right"></i>
          Se connecter
        </button>
        <a href="/register" class="ui red labeled right icon button">
          <i class="checkmark icon right"></i>
          S'inscrire
        </a>
      </div>
    </form>
  </div>
</template>
