<template name="menu">
  <header>
    <div class="ui grid">
      <div class="row computer tablet only">
        <div id="navbar" class="menu ui fixed navbar">
          <a href="/" class="item" id="home">
            <i class="home icon"></i>
            Home
          </a>
          {{#if currentUser}}
            <a class="item" id="editUser" href="/editUser">
              <i class="icon user"></i>
              {{ currentUser.profile.firstName }}
            </a>
            <a class="ui dropdown item" href="">
              <i class="icon folder"></i>
              Votes
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="header">Votes</div>
                <a class="item" id="newVote" href="/votes/new">
                  <i class="icon plus"></i>
                  New Vote
                </a>
                <a class="item" id="myVotes" href="/votes/myVotes">
                  <i class="icon folder"></i>
                  My Votes
                </a>
                <a class="item" id="voteList" href="/votes">
                  <i class="icon list"></i>
                  Vote List
                </a>
              </div>
            </a>
            {{#if ifAdmin}}
              <a class="item" id="feedBacks" href="/feedbacks">
                <i class="icon bug"></i>
                FeedBacks
              </a>
              <a class="ui dropdown item" href="">
                <i class="icon users"></i>
                Users
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="header">Users</div>
                  <a class="item" id="newUser" href="/users/new">
                    <i class="icon user add"></i>
                    New User
                  </a>
                  <a class="item" id="userList" href="/users">
                    <i class="icon users"></i>
                    User List
                  </a>
                </div>
              </a>
            {{/if}}
            <div class="right menu">
              <div class="item">
                <a class="ui red button labeled icon" href="" id="logout">
                  <i class="icon sign out"></i>
                  Logout
                </a>
              </div>
            </div>
          {{else}}
            <div class="right menu">
              <div class="item">
                <a class="ui green button" href="/login">Sign in</a>
              </div>
              <div class="item">
                <a class="ui primary button" href="/register">Sign up</a>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
      <div class="mobile only row">
        <div class="ui fixed navbar menu">
          <a href="" class="brand item">Vote App</a>
          <div class="right menu open">
              <a href="" class="menu item">
                  <i class="content icon"></i>
              </a>
          </div>
        </div>
        <div class="ui vertical navbar menu">
          <a href="/" class="item" id="mobile-home">
            <i class="home icon"></i>
            Home
          </a>
          {{#if currentUser}}
            <a class="item" id="mobile-editUser" href="/editUser">
              <i class="icon user"></i>
              {{ currentUser.profile.firstName }}
            </a>
            <a class="ui item" href="">
              <i class="icon folder"></i>
              Votes
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" id="mobile-newVote" href="/votes/new">
                  <i class="icon plus"></i>
                  New Vote
                </a>
                <a class="item" id="mobile-myVotes" href="/votes/myVotes">
                  <i class="icon folder"></i>
                  My Votes
                </a>
                <a class="item" id="mobile-voteList" href="/votes">
                  <i class="icon list"></i>
                  Vote List
                </a>
              </div>
            </a>
            {{#if ifAdmin}}
              <a class="item" id="mobile-feedBacks" href="/feedbacks">
                <i class="icon bug"></i>
                FeedBacks
              </a>
              <a class="ui item" href="">
                <i class="icon users"></i>
                Users
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" id="mobile-newUser" href="/users/new">
                    <i class="icon user add"></i>
                    New User
                  </a>
                  <a class="item" id="mobile-userList" href="/users">
                    <i class="icon users"></i>
                    User List
                  </a>
                </div>
              </a>
            {{/if}}
            <div class="right menu">
              <div class="item">
                <a class="ui red button labeled icon" href="" id="logout">
                  <i class="icon sign out"></i>
                  Logout
                </a>
              </div>
            </div>
          {{else}}
            <div class="right menu">
              <div class="item">
                <a class="ui green button" href="/login">Sign in</a>
              </div>
              <div class="item">
                <a class="ui primary button" href="/register">Sign up</a>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </header>
</template>
