@import "{}/client/views/_layout/config";

header {
  div.menu#navbar, div.ui.vertical.menu.navbar {
    border: none;
    div.menu.right {
      float: right;
    }
    a.item {
      transition: all .15s;
      i {
        color: $p-color;
      }
    }
    a.item.active, a.item:hover {
      background-color: $p-color;
      color: #FFF;
      i {
        color: #FFF;
      }
    }
    .ui.dropdown.item.active,  {
      background-color: $p-color;
      color: #FFF;
    }
    .ui.dropdown.item.active, .ui.dropdown.item:hover {
      i {
        color: #FFF;
      }
    }
    a.ui.item {
      div.menu.transition {
        border: none;
      }
      a.item {
        transition: all .15s !important;
        i {
          color: $p-color !important;
        }
      }
      a.item.active, a.item:hover {
        background-color: $p-color !important;
        color: #FFF !important;
        i {
          color: #FFF !important;
        }
      }
    }
  }

  .ui.vertical.menu{
    margin-top: -6px !important;
    width: 100%;
    display: none;
    transition: all .5s;
  }

}

@media (max-width: 767px) {
  .ui.grid { margin: 0 !important; }
  .ui.vertical.menu.navbar{
    margin-top: 25px !important;
  }
}
